.wau{
    margin-left: 200px;
}
.aa{
    background: linear-gradient(135deg,#428ee2,#82c9ff);
}
.wun{
    text-align: center;
}
.satan{
    margin-left: 300px;
}
.jksd{
    margin-left: 100px;
}
